.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;

  &__title {
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__section {
    width: 100%;
    height: 80%;

    @media (min-width: 800px) {
      width: 33%;
    }
  }

  &__sectionHidden {
    display: none;

    @media (min-width: 800px) {
      display: block;
      width: 33%;
    }
  }
}
