.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: none;
  padding: 0 .5rem;
  border: none;
  margin: 0 .2rem;
  cursor: pointer;
}

.enableLang {
  opacity: 1;
}

.disableLang {
  opacity: 0.5;
}