.listTrips {
  margin-bottom: 2rem;
}

.offer {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @media (min-width: 500px) {
    flex-direction: row;
  }
  &__desc {
    padding: 0.5rem 1rem;
  }
  &__photo {
    height: 200px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 500px) {
      width: 200px;
      height: 150px;
    }
  }
  &__title {
    font-weight: 600;
  }
  &__tags {
    display: flex;
  }
  &__tag {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    color: #333333;
    padding: 0.1rem 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #ffffff;
  }
}

.link {
  color: inherit;
}

.noTripsPlug {
  margin: 0.5rem 0 0.5rem;
  box-shadow: 0 4px 6px 0px #00000029;
  border-radius: 4px;
  padding: 0.5rem;
}
