.viewToggler {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 3000;
  background: #67edcf;
  border: 2px solid #000000;
  @media (min-width: 900px) {
    display: none;
  }
}

.container {
  display: flex;
}

.searchForm {
  padding: 1rem;
  @media (min-width: 900px) {
    width: 50vw;
    padding: 2rem;
  }
}

.hidden {
  @media (max-width: 900px) {
    display: none;
  }
}

.input {
  width: 100%;
  font-size: 0.2em !important;
}

.location {
  margin-bottom: 1rem;
}

.label {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 0.8rem;
}

.searchMode {
  display: flex;
  align-items: center;
}

.radioLabel {
  font-size: 0.8em;
  margin-left: 1rem;
}

.radio {
  margin: 0 0.2rem;
}

.datePicker {
  margin: 0 1rem;
  font-family: inherit;
  border: none;
  font-size: 0.8em;
  color: #3f51b5;
}

.tagList {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.2rem 0;
}

.buttonCase {
  margin: 1rem 0;
}

.button {
  font-size: 0.8em !important;
}

.options {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (min-width: 900px) {
    display: none;
  }
}
