.searchForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 1rem;
}

.tagList {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.modeList {
  display: flex;
  flex-direction: row !important;
  min-width: 200px;
}

.tripList {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  opacity: 0.9;
}

.mapContainer {
  position: relative;
  margin-top: 1rem;
}

.locationInput {
  position: relative;
}

.suggestedCitiesList {
  width: 100%;
  z-index: 2;
  position: absolute;
}
