.container {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.userContainer {
  width: 100%;
  display: flex;
  @media (min-width: 800px) {
    max-width: 250px;
  }
}

.profileSection {
  width: 100%;
}
.hidden {
  display: none;
  @media (min-width: 800px) {
    display: block;
  }
}

.profileInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
