.avatarForm {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  @media (min-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
  &__img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.35);
    @media (min-width: 800px) {
      border-radius: 0;
      width: 200px;
      height: 200px;
      box-shadow: none;
    }
  }
  &__fileInputLabel {
    cursor: pointer;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 800px) {
      display: none;
    }
  }
  &__fileInput {
    position: absolute;
    left: -10000px;
    top: -10000px;
    display: none;
    @media (min-width: 800px) {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin-top: 1rem;
    }
  }
  &__icon {
    background: #19cc95;
    padding: 0.4rem;
    width: 35px;
    border-radius: 50%;
  }
}
