.link {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
}

.case {
  padding: 0 0.5rem;
}

.title {
  font-weight: 600;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  font-weight: 500;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
