.formContainer {
  flex: 0 0 100%;
  display: flex;
  .form {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    .formField {
      background-color: rgba(228, 235, 228, 0.301);
      width: 33.3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0.2rem;

      &__input {
        width: 80%;
      }
      label {
        width: 80%;
        text-align: center;
        font-weight: bold;
        background-color: rgb(255, 248, 248);
      }

      button {
        height: 28px;
        width: 80px;
        border: 1px solid #05ad05;
        color: #05ad05;
        align-self: flex-end;
        background-color: white;
        border-radius: 5px;
        padding: 0.4rem;
        cursor: pointer;
      }

      button:hover {
        background-color: rgba(0, 255, 0, 0.424);
      }
    }
  }
}
