.button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rightArrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  position: relative;
}
