.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media (min-width: 900px) {
    height: 10vh;
  }
  @media (min-width: 800px) {
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  &__logoLink {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  &__titleCase {
    padding: 0 1rem;
    color: #000000;
  }
  &__title {
    font-size: 1.3em;
    font-weight: 800;
  }
  &__description {
    font-size: 0.8em;
    font-weight: 300;
  }
  &__logo {
    width: 60px;
  }
  &__menuButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2.7rem;
    right: 1.5rem;
    @media (min-width: 800px) {
      display: none;
    }
  }
  &__menuIcon {
    width: 20px;
  }
  &__menuList {
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.26s ease;
    height: 200px;
    @media (min-width: 800px) {
      width: auto;
      flex-direction: row;
      align-items: center;
    }
  }
  &__hiddenMenu {
    transform: scaleY(0);
    height: 0;
    @media (min-width: 800px) {
      height: 100%;
      transform: scaleY(1);
    }
  }
}

.profile {
  &__case {
    display: none;
    @media (min-width: 800px) {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;
    }
  }
  &__avatar {
    width: 30px;
    margin: 1rem;
  }

  &__link {
    padding: 0.5rem 0.2rem;
    display: block;
  }
  &__menu {
    @media (min-width: 800px) {
      position: absolute;
      background: #ffffff;
      padding: 1rem;
    }
  }
  &__hiddenMenu {
    @media (min-width: 800px) {
      display: none;
    }
  }
}

.langButtons {
  margin: 0.5rem 0;
}
