.infoContainer {
  background-color: rgba(15, 22, 9, 0.185);
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 0%;
  display: flex;
  font-size: 1.5vh;
  justify-content: space-around;
  @media (max-width: 800px) {
    background-color: white;
    overflow-y: auto;
    position: fixed;
  }

  &__header {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    width: 100%;
    height: 10%;

    @media (max-width: 800px) {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    z-index: 10;
    background-color: rgb(248, 244, 244);
    width: 50%;
    height: 65%;
    position: absolute;
    padding: 1rem;
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1%;

    @media (max-width: 800px) {
      margin-top: 0%;
      width: 100%;
      height: 100%;
    }

    @media (min-width: 801px) and (max-width: 1400px) {
      overflow-y: auto;
    }
  }
}

.googleButtons {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
  z-index: 15;
}

.gallery {
  background-color: rgba(15, 22, 9, 0.185);
  width: 58%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition-property: all 0.25s ease;

  @media (max-width: 800px) {
    width: 60%;
    height: 30%;
    margin-top: -0.5rem;
  }

  @media (min-width: 801px) and (max-width: 1400px) {
    margin-top: 2rem;
    width: 90%;
    height: 60%;
  }

  &__switchLeft {
    cursor: pointer;
    height: 100%;
    width: 5%;
    background-color: rgba(170, 170, 170, 0.329);
    position: absolute;
    display: flex;
    flex-direction: row;

    img {
      margin: auto;
    }
  }

  &__switchLeft:hover {
    background-color: rgba(251, 255, 251, 0.431);
  }

  &__content {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__switchRight {
    cursor: pointer;
    height: 100%;
    width: 5%;
    right: 0rem;
    background-color: rgba(170, 170, 170, 0.329);
    position: absolute;
    display: flex;

    img {
      margin: auto;
    }
  }

  &__switchRight:hover {
    background-color: rgba(251, 255, 251, 0.431);
  }

  &__footer {
    min-width: 15%;
    height: 5%;
    bottom: 0rem;
    left: 42.5%;
    background-color: rgba(102, 98, 98, 0.527);
    position: absolute;
    display: flex;
    justify-content: space-around;

    @media (max-width: 800px) {
      bottom: 0.1rem;
    }

    .dot {
      cursor: pointer;
      padding: 0.5rem;
      left: 0.5rem;
      width: 15%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba(155, 152, 152, 0.596);
    }

    .dot:hover {
      background-color: rgba(251, 255, 251, 0.431);
    }

    .dotActive {
      cursor: pointer;
      padding: 0.5rem;
      left: 0.5rem;
      width: 15%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba(241, 235, 235, 0.596);
    }
  }
}

.informations {
  overflow-y: auto;
  background-color: rgb(241, 235, 235);
  width: 38%;
  height: 60%;

  @media (max-width: 800px) {
    width: 60%;
    height: auto;
    margin-top: -0.5rem;
  }

  @media (min-width: 801px) and (max-width: 1400px) {
    width: 90%;
    height: auto;
  }

  &__header {
    display: flex;
    .button {
      text-align: center;
      font-family: 'Open sans';
      font-size: 0.9em;
      width: 100px;
      border: 1px solid #94531e;
      color: #957a21;
      background: none;
      border-radius: 5px;
      padding: 0.4rem;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 50%;
      }

      @media (min-width: 801px) and (max-width: 1400px) {
        margin-top: 3rem;
        width: 50%;
      }
    }

    .button:hover {
      background-color: white;
    }

    .buttonActive {
      text-align: center;
      font-family: 'Open sans';
      font-size: 0.9em;
      width: 100px;
      border: 1px solid #94531e;
      color: #957a21;
      background-color: white;
      border-radius: 5px;
      padding: 0.4rem;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 50%;
      }

      @media (min-width: 801px) and (max-width: 1400px) {
        margin-top: 3rem;
        width: 50%;
      }
    }

    .buttonActive:hover {
      background-color: white;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;

    .content1 {
      margin-top: 0.5rem;
    }

    .content2 {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    .content3 {
      margin-top: 1rem;
      &__tags {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .tag {
          text-align: center;
          min-width: 20%;
          background-color: rgb(248, 244, 244);
        }
      }
    }

    .content4 {
      margin-top: 2rem;
      text-align: center;
    }
    ////////////////////////////////////////////////////////////////////////////

    .avatar {
      width: 30%;
      height: 30%;
      margin: auto;
      margin-top: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        border: solid;
        border-radius: 50%;
      }

      @media (max-width: 800px) {
        width: 30%;
        height: 30%;
      }

      @media (min-width: 801px) and (max-width: 1400px) {
        width: 20%;
        height: 20%;
      }
    }

    .guideContent1 {
      font-weight: bold;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
    }

    h1 {
      text-align: center;
    }
  }
}

.description {
  background-color: rgb(241, 235, 235);
  width: 100%;
  height: 23%;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1.5vh;
  overflow-y: auto;

  @media (max-width: 800px) {
    width: 60%;
    height: auto;
    margin-top: -2rem;
  }

  @media (min-width: 801px) and (max-width: 1400px) {
    width: 90%;
    height: auto;
  }
}
