.case {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.title {
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  font-size: 1.3em;
}

.container {
  position: relative;
  top: -5vh;
  z-index: 1000;
  background: #ffffff;
}

.map {
  height: 30vh;
  @media (min-width: 600px) {
    height: 90vh;
    width: 40vw;
  }
}
