.infoContainer {
  background-color: rgba(15, 22, 9, 0.185);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0%;
  display: flex;
  justify-content: space-around;

  &__header {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 10%;
  }

  &__content {
    z-index: 10;
    background-color: rgb(248, 244, 244);
    width: 50%;
    height: 60%;
    position: absolute;
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1%;
  }
}

.googleButtons {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
  z-index: 15;
}

.gallery {
  background-color: rgba(15, 22, 9, 0.185);
  width: 58%;
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition-property: all 0.25s ease;
  &__switchLeft {
    cursor: pointer;
    height: 100%;
    width: 5%;
    background-color: rgba(170, 170, 170, 0.329);
    position: absolute;
    display: flex;
    flex-direction: row;

    img {
      margin: auto;
    }
  }

  &__switchLeft:hover {
    background-color: rgba(251, 255, 251, 0.431);
  }

  &__content {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__switchRight {
    cursor: pointer;
    height: 100%;
    width: 5%;
    right: 0rem;
    background-color: rgba(170, 170, 170, 0.329);
    position: absolute;
    display: flex;

    img {
      margin: auto;
    }
  }

  &__switchRight:hover {
    background-color: rgba(251, 255, 251, 0.431);
  }

  &__footer {
    min-width: 15%;
    height: 5%;
    bottom: 0rem;
    left: 42.5%;
    background-color: rgba(102, 98, 98, 0.527);
    position: absolute;
    display: flex;
    justify-content: space-around;
    transition: all 0.25 ease;
    .dot {
      cursor: pointer;
      padding: 0.5rem;
      left: 0.5rem;
      width: 15%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba(155, 152, 152, 0.596);
    }

    .dot:hover {
      background-color: rgba(251, 255, 251, 0.431);
    }

    .dotActive {
      cursor: pointer;
      padding: 0.5rem;
      left: 0.5rem;
      width: 15%;
      height: 50%;
      border-radius: 50%;
      background-color: rgba(241, 235, 235, 0.596);
    }
  }
}

.informations {
  background-color: rgb(241, 235, 235);
  width: 38%;
  height: 65%;
  &__header {
    button {
      width: 30%;
      text-align: center;
      cursor: pointer;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    .content1 {
      margin-top: 0.5rem;
    }

    .content2 {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    .content3 {
      margin-top: 1rem;
      &__tags {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .tag {
          text-align: center;
          min-width: 20%;
          background-color: rgb(248, 244, 244);
        }
      }
    }

    .content4 {
      margin-top: 2rem;
      text-align: center;
    }
    ////////////////////////////////////////////////////////////////////////////

    .avatar {
      width: 35%;
      height: 35%;
      border-radius: 50%;
      margin: auto;
      background-color: rgb(236, 141, 32);
    }

    .guideContent1 {
      font-weight: bold;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
    }

    h1 {
      text-align: center;
    }
  }
}

.description {
  background-color: rgb(241, 235, 235);
  width: 100%;
  height: 22%;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1rem;
  overflow-y: auto;
}
