.nav {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  @media (min-width: 800px) {
    display: none;
  }
  &__menuList {
    background: #37b498;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
  }
  &__menuItem {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 0.6rem;
    cursor: pointer;
  }
  &__case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 20px;
  }
  &__p {
    font-weight: 500;
    padding: 0.2rem 0;
  }
}

.section {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.title {
  font-weight: 600;
  margin: 1rem 0 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-weight: 600;
}

.tagList {
  display: flex;
  justify-content: center;
}

.tag {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #333333;
  padding: 0.1rem 0.5rem;
  margin-top: 0.3rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #ffffff;
}

.centered {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.35);
  @media (min-width: 800px) {
    border-radius: 0;
    width: 150px;
    height: 150px;
    box-shadow: none;
  }
}

.guideView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.guideName {
  text-align: center;
  margin: 1rem 0 0 0;
  font-weight: 600;
}

.tripView {
  width: 100%;
}

.infoContainer {
  width: 100%;
  padding: 1rem;
  @media (min-width: 800px) {
    width: 60%;
    display: flex;
  }
}

.link {
  color: inherit;
}

.plug {
  background-color: #ececec73;
  border-radius: 7px;
  box-shadow: 0px 0px 6px 0 #a28787;
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__title {
    flex: 0 0 100%;
    text-align: center;
    color: #f50057;
  }
  &__text {
    flex: 0 0 90%;
    text-align: center;
  }
  &__icon {
    flex: 0 0 10%;
    font-size: 3rem;
    opacity: 0.8;
    color: black;
  }
}

.plugDesktop {
  background-color: #ececec73;
  border-radius: 7px;
  box-shadow: 0px 0px 6px 0 #a28787;
  padding: 0.5rem 1rem;
  width: 80%;
  min-height: 40%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__title {
    flex: 0 0 90%;
    text-align: center;
    color: #f50057;
  }
  &__text {
    flex: 0 0 90%;
    text-align: center;
  }
  &__icon {
    flex: 0 0 10%;
    font-size: 3rem;
    opacity: 0.8;
    color: black;
  }
  &__buttons {
    margin-top: 0.5rem;
    flex: 100% 1;
    display: flex;
    flex-wrap: wrap;
    .button {
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;
      flex: 0 0 100%;
    }
  }
}
